.step-card-container {
    padding: 20px;
    margin: 3% 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-radius: 12px;
}

.img {
    width: 240px;
    height: 230px;
    border: 2px solid #276ADD;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.content {
    font-size: 16px;
    line-height: 16px;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    font-style: italic;
}

.titleContainer {
    margin-left: 25%;
}

.Chip {
    border-radius: 8px;
    background-color: #666B73;
    color: #FFF;
    font-weight: 600;
    margin-top: 2%;
    font-size: 14px;
}

.imgContainer {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    margin-top: 35%;
}

.no-image{
    width: 100px !important;
    height: 100px;
    border:1px solid #F0F0F0;
    border-radius: 5px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
  }