.step-card-container {
    padding: 20px;
    margin: 1.3% 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-radius: 12px;
}

.img {
    width: 240px;
    height: 230px;
    border: 2px solid #276add;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 18.75px;
}

.downloadSection {
    display: flex;
    cursor: pointer;
}

.content {
    font-size: 16px;
    line-height: 19.2px;
    word-break: break-word;
    color : #333333;
}

.downloadButton {
  background: #FFFFFF; 
  color: #333333;
  border: 1px solid #CCCCCC;
  text-transform: capitalize;
}

.downloadButton:hover {
  background: lightgrey;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    font-style: italic;
    color: #333333;
    word-break: break-word;
}

.sub-title {
    color: #666b73;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
}

.titleContainer {
    margin-left: 25%;
}

.Chip {
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 0.7rem;
  height: 23px;
}

.inactiveChip {
  font-weight: 600;
  color: #000;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 0.7rem;
  height: 23px;
}

.imgContainer {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    margin-top: 35%;
}

.no-image {
    width: 100px !important;
    height: 100px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    text-transform: capitalize;
  }


  .toggleSection {
    background-color: #F2FAEA;
    border: 1px solid #467E1B;
    height: 72px;
    border-radius: 5px;
    display: flex;
  }

  .toggleDisabledSection {
    background-color: #F0F0F0;;
    border: 1px solid #333333;
    height: 72px;
    border-radius: 5px;
    display: flex;
  }

  .activeHeading {
    font-weight: 700;
    font-size: 15px;
  }

  .activePeriod {
    font-weight: 400;
    font-size: 14px;
    color: #666B73;
  }