version: '3.3'

services:
  bo-panel-ui:
    ports:
      - 3000:3000
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src
      - /usr/src/node_modules
      - /usr/src/.next
      - ./package-lock.json:/usr/src/package-lock.json
