.users-card {
  border: 1px solid #cccccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 24px 20px 8px;
}

.users-card-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.section-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.add-btn {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  height: 40px;
  padding: 8px;
  text-transform: initial;
  margin-left: auto;
}

.search {
  height: 40px;
  width: 361.532470703125px;
}

.search-button {
  padding: 8px;
  gap: 8px;
  width: 66px;
  height: 40px;
  border-radius: 4px;
  background-color: #276add;
  text-transform: capitalize;
}

.ClearText {
  margin-top: -2%;
  margin-bottom: 2%;
  text-decoration: underline;
  color: #276add;
  cursor: pointer;
  margin-left: 3px;
  font-size: 14px;
  width: fit-content;
}

.accessText {
  margin: 0;
}