.subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #1c1b1f;
  line-height: 21px;
}

.field-title {
  font-size: 16px;
  line-height: 120%;
  color: #333333;
}

.field-title:after {
  content: ' *';
  color: #E1251B;
}
