.preview-container {
    background: #E6ECF6;
    border: 1px solid #194B9F;
    border-radius: 5px;
    padding: 20px;
}

.title {
    font-weight: 400;
    font-size: 16px;
    color: #043385;
}

.description {
    font-weight: 600 !important;
    font-size: 18px !important;
    color: #043385;
}

.description-container {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.required::after {
    content: ' *';
    color: #E1251B;
}