.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin: 3% 25%;
    color: #333333;
}

.generate-link {
    color: #276ADD;
    cursor: pointer;
}