.cancelBtn, .confirmationBtn {
    text-transform: none;
}

.confirmationBtn {
    background-color: #E1251B;
    color: #FFFFFF;
}

.confirmationBtn:hover {
    background-color: #E1251B;
    color: #FFFFFF;
}

.confirmationMessage {
    background-color: #FEFAF9;
    border-left: 8px solid #E1251B;
    padding-left: 10px;
    border-radius: 5px;
}