.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.step-card-container {
    padding: 20px;
    margin: 1.3% 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-radius: 12px;
}

.deal-card-container {
    height: 136px;
    padding: 20px;
    margin: 3% 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #0744ae;
    border-radius: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.disable-deal-card-container {
    height: 136px;
    padding: 20px;
    margin: 3% 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.deal-card-container-bg {
    height: 136px;
    padding: 20px;
    margin: 3% 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #0744ae;
    border-radius: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: red;
}

.dealTitle {
    margin-left: 6%;
}

.uploadTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
}

.Discount {
    font-size: 55px;
    color: #0744ae;
    margin-left: 4%;
}

.disableDeals {
    font-size: 55px;
    color: #CCCCCC;
    margin-left: 4%;
}

.uploadTask {
    font-size: 28px;
    color: #467E1B;
    margin-left: 4%;
    margin-top: 1%;
}

.uploadIcon {
    font-size: 28px;
    color: #0744ae;
    margin-left: 4%;
}

.dealType {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.disableDealType {
    color: #CCCCCC;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.fileWarning {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #666B73;
}

.cancelBtn {
    background-color: #fff;
    color: black;
    text-transform: inherit;
}

.cancelBtn:hover {
    background-color: grey;
    color: black;
    text-transform: inherit;
}

.btnSection {
    display: flex;
    justify-content: space-between;
    margin-top: -2%;
    margin-bottom: 2%;
}

.continueBtn {
    text-transform: inherit;
}

.upload-card-container {
    height: 136px;
    padding: 20px;
    margin: 3% 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px dashed #276ADD;
    border-radius: 12px;
    cursor: pointer;
}

.upload-filled-card-container {
    height: 136px;
    padding: 20px;
    margin: 3% 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #467E1B;
    border-radius: 12px;
    cursor: pointer;
}

.mchHeading {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.mchIcon {
    margin-right: 1%;
}

.mch-card-container {
    height: 110px;
    padding: 20px;
    border: 1px solid #C0C0C0;
    cursor: pointer;
    background: #F8F8F8;
    display: flex;
}

.closeIcon {
    margin-left: 50%;
    margin-top: 40%;
    font-size: xx-large;
}

.addbtn {
    display: flex;
    margin-bottom: 3%;
    cursor: pointer;
}

.upload-card-error {
    height: 136px;
    padding: 20px;
    margin: 3% 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px dashed #E1251B;
    border-radius: 12px;
    cursor: pointer;
}

.error-icon {
    color: #E1251B;
    margin-left: 10px;
    font-size: 35px;
}
 
.required:after {
    content: ' *';
    color: #E1251B;
}

.text-style-btn {
    text-transform: none;
    margin-right: 10px;
    text-decoration: underline;
}

.text-style-btn:hover {
    cursor: pointer;
    text-decoration: underline
  }