.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.step-card-container {
    padding: 20px;
    margin: 3% 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #CCCCCC;
    border-radius: 12px;
}

.deal-card-container {
    height: 136px;
    padding: 20px;
    margin: 3% 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #0744AE;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.dealTitle {
    margin-left: 6%;
}

.Discount {
    font-size: 55px;
    color: #0744AE;
    margin-left: 4%;
}

.dealType {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

