.signoutBtn {
    color: #ffffff;
    padding: 8px 25px;
    text-transform: capitalize;
    float: right;
}

.navbar-box {
    position: sticky;
    top: 0;
    z-index: 2;
}

.signoutBtn:hover {
    color: #000;
    background-color: #e6e6e6;
    padding: 8px 25px;
    text-transform: capitalize;
}

.searchField {
    background-color: #fff;
    padding-right: 5px;
}

.MuiTab-root {
    background-color: red;
}

.userManagement {
    font-weight: 400;
    font-size: 16px;
    margin-left: 62%;
    margin-top: 2%;
    cursor: pointer;
    text-decoration: underline;
    float: left;
}

.homeIcon {
    margin-right: 6%;
}

.dropdownMain {
    width: 120px;
    height: 40px;
    color: #fff;
    background: #000;
    margin-top: 11px;
}

.dropdownSection {
    width: 120px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.dropdownLOB {
    background: #333333;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    width: fit-content;
    flex-grow: 1;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
  }

  .mainHeader {
    width: 50%;
  }