.lob-card {
  border: 1px solid #cccccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 100%;
}

.button-text {
  color: #333333;
  font-size: 18px;
  line-height: 120%;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px 16px;
  gap: 4px;
  height: 46px;
  background: #f3f3f3;
}

.hello-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #666b73;
}

.welcome-text {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.select-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #333333;
}

.mainTopSection {
  margin-top: 7%;
}

.mainErrorSection {
  margin-top: 7%;
}