.deal-card {
    border: 1px solid #cccccc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 24px 20px 8px;
  }
  
  .deal-card-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
  }
  
  .dealimg {
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }
  
  .no-image {
    width: 70px !important;
    height: 70px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dealTitle {
    margin-left: 20px;
  }
  
  .chip {
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5px;
    height: 20px;
  }
  
  .inactiveChip {
    font-weight: 600;
    color: #000;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 0.7rem;
    height: 23px;
  }
  
  .create-new-btn {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #333333;
    font-size: 16px;
    text-transform: initial;
    padding: 8px;
    width: fit-content;
    margin: 0 auto;
  }
  
  .create-new-btn:hover {
    border: 1px solid #cccccc;
  }
  
  .no-data-text {
    font-size: 18px;
    font-weight: 600;
    color: #666b73;
    margin-bottom: 1.3rem;
  }
  
  .no-data-box {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .delete-btn {
    text-transform: capitalize;
    border: 0px;
    color: #333333;
    padding-right: 5px;
  }
  
  .delete-btn:hover {
    border: 0px;
    background-color: #ffffff;
  }
  
  .delete-btn:disabled {
    border: 0px;
  }
  
  .deal-duration {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #666b73;
    margin-top: 5px;
  }
  

  .container {
    height: 60vh;
  }
  
  .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
  }
  
  .btn {
    text-transform: inherit;
  }
  