.error-text {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
  }
  
  .back-btn {
    padding: 8px;
    gap: 8px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333333;
    margin-top: 25px;
    text-transform: initial;
  }
