html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: white;
  }
}

.kEIRkz div:first-child{
  white-space: pre-line !important;
  width: 100%;
}

.itioXH{
  align-items: flex-start !important;
  padding: 15px 0px !important;
}

.toast-container {
  width: fit-content !important;
  top: 6em !important;
}

.calKeT {
  align-items: baseline !important;
  padding: 15px 16px !important;
}